@import '../assets/styles/fonts.scss';

.as-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;

  /* Hide default HTML checkbox */
  .as-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2e57fa;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2e57fa;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }

  input[type='checkbox'][disabled][checked] ~ .slider.round {
    background: #c3cffe;
    border-color: #c3cffe;
  }

  input[type='checkbox']:disabled ~ .slider.round {
    background: #ebecef;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 10px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
