@import '../assets/styles/fonts.scss';

.as-tags {
  display: inline-flex;
  align-items: center;
  border-radius: 16px;
  padding: 8px 16px;
  .circle {
    background-color: #818590;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  &__text {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 20px;
    color: #37393d;
    margin-left: 10px;
  }
}

.primary {
  background-color: #f0f3ff;
  .circle {
    background-color: #2e57fa;
  }
}

.success {
  background-color: #eef8f4;
  .circle {
    background-color: #1b9768;
  }
}

.warning {
  background-color: #fff4e0;
  .circle {
    background-color: #eda82b;
  }
}

.error {
  background-color: #ffebeb;
  .circle {
    background-color: #c75050;
  }
}
