@import '../assets/styles/fonts.scss';

.as-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.as-label {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #37393d;
  margin-bottom: 5px;
}

.as-select {
  position: relative;
  cursor: pointer;
  &__input {
    border: 1px solid #d0d3da;
    border-radius: 8px;
    padding: 10px 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #37393d;
    caret-color: transparent;
    &::placeholder {
      color: #737680;
    }
    &:focus,
    &:focus-visible {
      outline-color: #052dcc;
      box-shadow:
        -2px -2px 0px #d1daff,
        2px 2px 0px #d1daff,
        -2px 2px 0px #d1daff,
        2px -2px 0px #d1daff;
    }

    &:disabled {
      background: #f8f8fa;
      border: 1px solid #d0d3da;
      color: #aaafbd;
    }

    &--error {
      border: 1px solid #a11515;
    }
  }
  &__img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  &__items {
    font-size: 14px;
    line-height: 20px;
    color: #37393d;
    text-align: center;
    width: 100%;
    box-shadow:
      0px 4px 8px rgba(76, 93, 112, 0.3),
      0px 0px 1px rgba(76, 93, 112, 0.3);
    border-radius: 8px;
    &-list {
      padding: 10px;
      cursor: pointer;
      &:hover {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #f8f8fa;
      }
    }
    &-no-results {
      padding: 10px;
      font-weight: bold;
    }
  }
}

.error_text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #a11515;
  margin: 0;
  margin-top: 5px;
}
