@import '../assets/styles/fonts.scss';

.as-table {
  border-collapse: collapse;
  thead {
    background-color: #f7f8fa;
    tr {
      border-top: 1px solid #e4e5eb;
      border-bottom: 1px solid #e4e5eb;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #737680;
      th {
        padding: 10px 30px;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid #e4e5eb;
      border-bottom: 1px solid #e4e5eb;
      font-size: 14px;
      line-height: 20px;
      color: #434652;
      &:hover {
        background-color: #f7f8fa;
      }
      td {
        padding: 20px 30px;
      }
    }
  }
}
