@import '../assets/styles/fonts.scss';
@import 'react-datepicker/dist/react-datepicker';

.as-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.as-label {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #37393d;
  margin-bottom: 5px;
}

.as-datepicker {
  border: 1px solid #d0d3da;
  border-radius: 8px;
  padding: 10px 12px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #37393d;
  &::placeholder {
    color: #737680;
  }
  &:focus,
  &:focus-visible {
    outline-color: #052dcc;
    box-shadow:
      -2px -2px 0px #d1daff,
      2px 2px 0px #d1daff,
      -2px 2px 0px #d1daff,
      2px -2px 0px #d1daff;
  }

  &:disabled {
    background: #f8f8fa;
    border: 1px solid #d0d3da;
    color: #aaafbd;
  }

  &--error {
    border: 1px solid #a11515;
  }
}

.error_text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #a11515;
  margin: 0;
  margin-top: 5px;
}

.react-datepicker {
  box-shadow:
    0px 4px 8px rgba(76, 93, 112, 0.3),
    0px 0px 1px rgba(76, 93, 112, 0.3);
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &__header {
    background-color: #fff;
    border-bottom: 0px;
  }
  &__triangle {
    display: none;
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background: #fff;
  border: 1px solid #2e57fa;
  border-radius: 8px;
  color: #37393d;
  &:hover {
    background: #2e57fa;
    color: #fff;
    border-radius: 8px;
  }
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #414348;
  border-width: 2px 2px 0 0;
  width: 7px;
  height: 7px;
}
