@import '../assets/styles/fonts.scss';

.as-wrapper {
  display: inline-flex;
  flex-direction: column;
}

.as-label {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #37393d;
  margin-bottom: 5px;
}

.as-input {
  border: 1px solid #d0d3da;
  border-radius: 8px;
  padding: 10px 12px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #37393d;
  &::placeholder {
    color: #737680;
  }
  &:focus,
  &:focus-visible {
    outline-color: #052dcc;
    box-shadow:
      -2px -2px 0px #d1daff,
      2px 2px 0px #d1daff,
      -2px 2px 0px #d1daff,
      2px -2px 0px #d1daff;
  }

  &:disabled {
    background: #f8f8fa;
    border: 1px solid #d0d3da;
    color: #aaafbd;
  }

  &--error {
    border: 1px solid #a11515;
  }
}

.error_text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #a11515;
  margin: 0;
  margin-top: 5px;
}
