@import '../assets/styles/fonts.scss';

.as-tabs {
  &__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h3 {
      position: relative;
      margin-right: 40px;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      color: #37393d;
      cursor: pointer;
      &.active {
        &::after {
          cursor: default;
          content: '';
          position: absolute;
          left: 0;
          bottom: -10px;
          height: 2px;
          width: 100%;
          background: #2e57fa;
          border-radius: 1px;
        }
      }
    }
  }
  &__descr {
    position: relative;
    p {
      font-size: 14px;
      line-height: 15px;
      display: flex;
      align-items: center;
      color: #6b6c7e;
      overflow: hidden;
      visibility: hidden;
      position: absolute;
      opacity: 0;
      transition:
        visibility 0.5s linear,
        opacity 0.5s linear;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
