@import '../assets/styles/fonts.scss';

.as-button {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;

  &--primary {
    background: #2e57fa;
    border: 1px solid #0637f9;
    color: #fff;
    &:hover {
      background: #052dcc;
      border: 1px solid #0637f9;
    }
  }

  &--secondary {
    background: #fff;
    border: 1px solid #d0d3da;
    color: #37393d;
    &:hover {
      background: #ebecef;
      border: 1px solid #ebecef;
    }
  }

  &--large {
    padding: 12px 24px;
  }

  &--medium {
    padding: 10px 20px;
  }

  &--small {
    padding: 8px 16px;
  }

  &--disabled {
    background: #f8f8fa;
    border: 1px solid #d0d3da;
    color: #aaafbd;
  }
}
