// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-Thin.ttf") format('truetype');
//   font-weight: 100;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-ExtraLight.ttf") format('truetype');
//   font-weight: 200;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-Light.ttf") format('truetype');
//   font-weight: 300;
// }

// @font-face {
//   font-family: "Inter";
//   src: url("../assets/fonts/Inter-Regular.ttf") format('truetype');
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-Medium.ttf") format('truetype');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-SemiBold.ttf") format('truetype');
//   font-weight: 600;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-Bold.ttf") format('truetype');
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-ExtraBold.ttf") format('truetype');
//   font-weight: 800;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url("../assets/fonts/Inter-Black.ttf") format('truetype');
//   font-weight: 900;
// }

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
